.program-box {
  position: relative;
  width: 50%;
}

.program-box .program-box-content {
  position: absolute;
}

.program-box-image {
  display: block;
  width: 100%;
  height: auto;
}

.program-box .program-box-content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.4s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.program-box:hover .program-box-content {
  opacity: 1;
}
